{% extends 'recipe/base-html.html' %}

{% block title %}
Recipe Index
{% endblock %}

{% block body %}
<h1>Hello recipe!</h1>

<div>
    Time running: {{ time_running }}
</div>
<div>
    <ul>
        {% for name, price in products %}
        <li>{{ name }} {{{ name|length }}} for ${{ price }}</li>
        {% if name |length_is: '7' %}
        <span>Lucky product!</span>
        {% empty %}
        No products here
        {% endfor %}
    </ul>
</div>
<div>
    {% lorem 3 p random %}
</div>
{% endblock %}
